<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanxin.manage_course.dao.CourseMapper">
    <select id="findCourseBaseById" parameterType="java.lang.String"
            resultType="com.tanxin.framework.domain.course.CourseBase">
        select * from course_base where id = #{id}
    </select>
    
    <select id="findCourseList" resultType="com.tanxin.framework.domain.course.ext.CourseInfo">
        SELECT * FROM course_base a LEFT JOIN course_pic b ON a.id=b.courseid
    </select>
</mapper>